/* Overall Body Style */
body {
    width: 350px;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  h1 {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin: 20px 0;
  }
  
  /* Link List Styling */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 350px; /* Set a fixed height so the scroll bar appears only when needed */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  /* Scrollbar styling */
  ul::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  ul::-webkit-scrollbar-track {
    background: #f4f6f9; /* Background color of the track */
    border-radius: 5px;
  }
  
  ul::-webkit-scrollbar-thumb {
    background-color: #bbb; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #f4f6f9; /* Create padding around the scroll thumb */
  }
  
  ul::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Darken on hover */
  }
  
  /* Individual List Item */
  li {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 15px;
    transition: all 0.3s ease;
  }
  
  li:hover {
    background-color: #eaeef3;
  }
  
  /* Link Styling */
  a {
    color: #3498db;
    text-decoration: none;
    font-size: 14px;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Icon Styling */
  .icon {
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .icon.favorite {
    color: #f1c40f;
  }
  
  .icon.delete {
    color: #e74c3c;
  }
  
  .favicon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  
  .link-container {
    display: flex;
    align-items: center;
  }
  
  /* Action Container */
  li div:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px; /* Ensure gap between star and delete icons */
  }
  
  /* Footer Styling */
  footer {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    color: #888;
  }
  